<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding centered-content">
  <form (ngSubmit)="login()" class="login-form">
    <ion-item class="input-item">
      <ion-icon name="mail-outline" slot="start" class="input-icon"></ion-icon>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input
        type="email"
        [(ngModel)]="email"
        name="email"
        required
        (focus)="onFocus($event)"
        (blur)="onBlur($event)"
      ></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-icon name="lock-closed-outline" slot="start" class="input-icon"></ion-icon>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input
        type="password"
        [(ngModel)]="password"
        name="password"
        required
        (focus)="onFocus($event)"
        (blur)="onBlur($event)"
      ></ion-input>
    </ion-item>

    <ion-text color="danger" *ngIf="errorMessage">{{ errorMessage }}</ion-text>

    <ion-button expand="block" color="primary" type="submit" class="mt-2">
      Iniciar Sesión
    </ion-button>

    <div class="links-container">
      <ion-button
        expand="block"
        fill="clear"
        color="primary"
        (click)="navigateToRegister()"
      >
        <ion-icon name="person-add-outline" slot="start"></ion-icon>
        Crear Cuenta
      </ion-button>

      <ion-button
        expand="block"
        fill="clear"
        color="primary"
        (click)="navigateToRecoverPassword()"
      >
        <ion-icon name="help-outline" slot="start"></ion-icon>
        ¿Olvidaste tu contraseña?
      </ion-button>
    </div>
  </form>
</ion-content>
