<ion-header>
  <ion-toolbar>
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="email; else invalidToken">
    <ion-item>
      <ion-label position="stacked">Nueva Contraseña</ion-label>
      <ion-input
        type="password"
        placeholder="Ingresa tu nueva contraseña"
        [(ngModel)]="newPassword"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Confirma tu Contraseña</ion-label>
      <ion-input
        type="password"
        placeholder="Confirma tu nueva contraseña"
        [(ngModel)]="confirmPassword"
      ></ion-input>
    </ion-item>

    <ion-button expand="block" color="primary" (click)="changePassword()">Actualizar Contraseña</ion-button>
    <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </div>

  <ng-template #invalidToken>
    <p class="error">Token inválido o expirado. Por favor, solicita uno nuevo.</p>
  </ng-template>
</ion-content>
