<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="welcome-section">
    <h1>¡Bienvenido a TeLlevoDuoc!</h1>
    <p>Organiza tus viajes fácilmente y con compañerismo.</p>
  </div>

  <div class="actions-section">
    <ion-button expand="block" color="primary" routerLink="/buscar-viaje">
      Buscar Viaje
    </ion-button>
    <ion-button expand="block" color="secondary" routerLink="/registrar-viaje">
      Registrar Viaje
    </ion-button>
  </div>
</ion-content>
